---
title: 2020 Reading Challenge
eleventyNavigation:
  key: 2020 Reading Challenge
  order: 4
--- 
<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Published Date</th>
    <th>Categories</th>
    <th>Date Read</th>
  </tr>
  {% for book in books %}
  <tr>
    <td>
      <a href="{{ book.book_link }}">
        <img src="{{ book.image_link }}" />
      </a>
    </td>
    <td>{{ book.title }}</td>
    <td>{% parseJsonString book.authors %}</td>
    <td>{{ book.published_date }}</td>
    <td>{% parseJsonString book.categories %}</td>
    <td>{{ book.date_read }}</td>
  </tr>
  {% endfor %}
</table>
