---
layout: home
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagsList
  addAllPagesToCollections: true
renderData:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
---

{% set postsList = collections[ tag ] %}
{% include "posts-list.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>